@model List<ToolModel>
@{
    ViewBag.Title = "What do you need for you next project?";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var tool in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@tool.Name</h5>
                <p class="mb-0"><span class="fw-bold">Name: </span>@tool.Name</p>
                <p class="mb-0"><span class="fw-bold">Rent price: </span>@tool.RentPrice</p>
            </div>

            <a asp-controller="Tool" asp-action="Details" asp-route-id="@tool.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>
            @if (User.Identity.IsAuthenticated && tool.OwnerID == User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <a asp-controller="Tool" asp-action="Edit" asp-route-id="@tool.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}