@model ToolDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">Tool Category:</dt>
            <dd class="col-sm-9">@Model.Category</dd>
            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Rent Price:</dt>
            <dd class="col-sm-9">@Model.RentPrice</dd>
        </dl>
        @if (!Model.IsRented && Model.OwnerID.ToString("D") != User.FindFirstValue(ClaimTypes.NameIdentifier))
        {

            <form class="ml-2" asp-controller="Tool"
                  asp-action="Rent" asp-route-id="@Model.Id" method="post">
                <input class="btn btn-primary" type="submit" value="Rent" />
            </form>
        }
    </div>
    <div class="col-md-6">
        @if (Model.ToolPicture != null)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ToolPicture)" class="img-fluid" alt="Tool Image" />
        }
    </div>
</div>