@model List<TipsAllModel>
@{
    ViewBag.Title = "What will be your next project?";
}

<style>
    .card-img-top {
        width: 200px;
        height: auto;
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (!Model.Any())
    {
        <h2>No tips shared yet!</h2>
        <h4>Be the first to share knowledge!</h4>
    }
    else
    {
        @foreach (var tip in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title mt-1">@tip.Title</h5>
                    <p class="mb-0"><span class="fw-bold">Author: </span>@tip.Author.UserName</p>
                    <br />
                    <p class="card-text">@GetFirstSentences(tip.Content)</p>
                </div>

                <a asp-controller="Tip" asp-action="Details" asp-route-id="@tip.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Read More</a>
                @if (User.Identity.IsAuthenticated && tip.AuthorId.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a asp-controller="Tip" asp-action="Edit" asp-route-id="@tip.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                    <form class="mt-2" asp-controller="Tip" asp-action="Delete" asp-route-id="@tip.Id">
                        <div class="d-grid gap-2">
                            <input type="submit" value="Delete post" class="btn btn-danger mb-2" />
                        </div>
                    </form>
                }
            </div>
        }
    }
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (ViewBag.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(ViewBag.PageIndex - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.PageIndex ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
            @if (ViewBag.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(ViewBag.PageIndex + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@functions {
    // Helper function to get the first couple of sentences from content
    public string GetFirstSentences(string content)
    {
        if (string.IsNullOrWhiteSpace(content))
        {
            return string.Empty;
        }

        // Split content into sentences
        var sentences = content.Split(new[] { '.', '!', '?' }, StringSplitOptions.RemoveEmptyEntries);

        // Get the first 2 of sentences
        var firstSentences = string.Join(". ", sentences.Take(2));

        return firstSentences;
    }
}
