@model List<TipsAllModel>
@inject IPaginationServices PaginationService

@{
    ViewBag.Title = "What will be your next project?";
}

<style>
    .card-img-top {
        width: 200px;
        height: auto;
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (!Model.Any())
    {
        <h2>No tips shared yet!</h2>
        <h4>Be the first to share knowledge!</h4>
    }
    else
    {
        @foreach (var tip in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title mt-1">@tip.Title</h5>
                    <p class="mb-0"><span class="fw-bold">Author: </span>@tip.Author.UserName</p>
                    <br />
                    <p class="card-text">@GetFirstSentences(tip.Content)</p>
                </div>

                <a asp-controller="Tip" asp-action="Details" asp-route-id="@tip.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Read More</a>
            </div>
        }
    }
    @{
        var paginationModel = PaginationService.CreatePaginationModel(ViewBag.PageIndex, ViewBag.TotalPages, ViewBag.HasPreviousPage, ViewBag.HasNextPage, "All", "Tip", new { });
    }

    @await Html.PartialAsync("_Pagination", (object)paginationModel)

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@functions {
    // Helper function to get the first couple of sentences from content
    public string GetFirstSentences(string content)
    {
        if (string.IsNullOrWhiteSpace(content))
        {
            return string.Empty;
        }

        // Split content into sentences
        var sentences = content.Split(new[] { '.', '!', '?' }, StringSplitOptions.RemoveEmptyEntries);

        // Get the first 2 of sentences
        var firstSentences = string.Join(". ", sentences.Take(2));

        return firstSentences;
    }
}
