@using OnlyTools.Core.Models.Like
@model TipsDetailedModel

@{
    ViewBag.Title = "Article Details";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@Model.Title</h2>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <p><strong>Category:</strong></p>
                        </div>
                        <div class="col-sm-9">
                            <p>@Model.Category.Name</p>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>@Model.Content</p>
                    </div>
                    @if (Model.AuthorId != Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) && !Model.Likes.Any(l => l.UserId == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) && l.TipId == Model.Id))
                            {
                                Console.WriteLine(Model.Likes.ToString());
                        Console.WriteLine(Model.Likes.Any(l => l.UserId == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) && l.TipId == Model.Id));
                        <div class="text-center mt-4">
                            <form asp-controller="Like" asp-action="LikeTip" method="post">
                                <input type="hidden" name="tipId" value="@Model.Id" />
                                <button class="btn btn-primary" type="submit">Like</button>
                            </form>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated && Model.AuthorId.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-controller="Tip" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                        <form class="mt-2" asp-controller="Tip" asp-action="Delete" asp-route-id="@Model.Id">
                            <div class="d-grid gap-2">
                                <input type="submit" value="Delete post" class="btn btn-danger mb-2" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
